# Virtual environment
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Node & Next.js
node_modules/
.next/
out/
build/
dist/

# Environment files
.env
.env*
.env.example
*.env
*.env.*
*.env.example

# OS files
.DS_Store
Thumbs.db

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Docker
docker_data/
